<!-- Begin Find Way-->
<section id="find-way" class="find-way">    
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper text-left">
        <h3 class="animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.findWayTitle }}</h3>
        <div class="map-card col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="map-search">
                <input type="text" id="location-input" class="location-input" name="location-input" data-input-value="Your location" placeholder="Your location" autocomplete="off">
                <svg id="direction-locate" class="icon icon-geolocation" viewBox="0 0 30 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-geolocation"></use>
                </svg>
            </div>
            <div class="location-result">
                <span id="result-name" class="result-name"></span>
                <span>to DevFest</span>
                <svg id="direction-cancel" class="icon icon-cross" viewBox="0 0 30 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
                </svg>
            </div>
        </div>
        <div class="map-card location-details col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <ul>
                <li>
                    <svg class="icon icon-flag" viewBox="0 0 30 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-flag"></use>
                    </svg>
                    <span>{{ site.findWayDistance }}</span>
                    <span id="distance" class="detailed-result pull-right"></span>
                </li>
                <li>
                    <div id="mode">
                        <svg id="mode-icon" class="icon icon-mode" viewBox="0 0 30 32">
                            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-flight"></use>
                        </svg>
                        <select id="mode-select">
                            <option value="DRIVING">{{ site.findWayDriving }}</option>
                            <option value="WALKING">{{ site.findWayWalking }}</option>
                            <option value="BICYCLING">{{ site.findWayBicycling }}</option>
                            <option value="TRANSIT">{{ site.findWayTransit }}</option>
                        </select>
                        <span id="estimateTime" class="detailed-result pull-right"></span>
                    </div>
                    <a id="find-flight" href="https://google.com/flights" class="pull-right hidden" target="_blank">{{ site.findWayFindFlight }}</a>
                </li>
            </ul>

            <div class="clearfix"></div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.6064446508885!2d-84.32738398397116!3d33.79665983860108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f506f7702a174f%3A0x425805444a5b7e35!2s550%20Houston%20Mill%20Rd%20NE%2C%20Atlanta%2C%20GA%2030329!5e0!3m2!1szh-CN!2sus!4v1627334803725!5m2!1szh-CN!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <iframe src =“https://www.google.com/maps/embed/v1/search?key= AIzaSyAsNkG8Q_ht8EkE_XFd8fTpdmC0CtYcG8k＆parameters allowfullscreen> </ iframe>
<!--             <a href="https://maps.google.com/maps?ll={{ site.eventPlaceCoordinates | replace:' ',''}}&z=17&t=m&hl=en-US&gl=US&mapclient=embed&q={{ site.eventStreetAddress | replace:' ','%20' | replace:',','%2C'}}%2C%20{{ site.eventAddressLocality | replace:' ','%20' | replace:',','%2C'}}" class="view-on-map" target="_blank">{{ site.viewOnMap }}</a> -->
        </div>
    </div>
</section>
<!-- End Find Way -->
