
<html>
  <body>
	<h3>Long talks</h3>
	<ul>
	  <li><a href="">Robert Krafty</a>, <em>Emory University</em>
	  <li><a href="">Ping Ma</a>, <em>University of Georgia</em>
	  <li><a href="">Nicoleta Serban</a>, <em>Georgia Tech</em>
	</ul>
	
	<h3>Short talks</h3>
	<ul>
	  <li><a href="">Ben Risk</a>, <em>Emory University</em>
	  <li><a href="">Razieh Nabi</a>, <em>Emory University</em>
	  <li><a href="">Pengsheng Ji</a>, <em>University of Georgia</em>
	  <li><a href="">Ting Zhang</a>, <em>University of Georgia</em>
	  <li><a href="">Shihao Yang</a>,  <em>Georgia Tech</em>
	  <li><a href="">Wenjing Liao</a>, <em>Georgia Tech</em>
	  <li><a href="">Santu Ghosh</a>, <em>Augusta University</em>
	  <li><a href="">Ruiyan Luo</a>, <em>Georgia State University</em>
	</ul>
  </body>
</html>
		
	
